flows.json
[{"id":"5622c79c84a909c0","type":"ui_text","z":"572b9e94a17ddd0d","group":"8264b3fde8d2dd8f","order":16,"width":7,"height":1,"name":"","label":"Morning Schedule: 8:00 AM","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":120,"y":380,"wires":[]},{"id":"e33072e980f2d950","type":"ui_text","z":"572b9e94a17ddd0d","group":"8264b3fde8d2dd8f","order":19,"width":7,"height":1,"name":"","label":"Morning Feeding Schedule","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":120,"y":340,"wires":[]},{"id":"261746a712659191","type":"ui_text","z":"572b9e94a17ddd0d","group":"745990b60053ed7d","order":16,"width":7,"height":1,"name":"","label":"Afternoon Schedule: 3:00 PM","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":380,"y":380,"wires":[]},{"id":"0c9abfb34d20bfbb","type":"ui_text","z":"572b9e94a17ddd0d","group":"745990b60053ed7d","order":19,"width":7,"height":1,"name":"","label":"Afternoon Feeding Schedule","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":380,"y":340,"wires":[]},{"id":"fb24f8cb0d5e2853","type":"mqtt in","z":"572b9e94a17ddd0d","name":"","topic":"sensors/ultrasonic","qos":"0","datatype":"json","broker":"3eadb1d429bc424e","nl":false,"rap":false,"inputs":0,"x":210,"y":460,"wires":[["fc8423ce547127f2"]]},{"id":"fc8423ce547127f2","type":"function","z":"572b9e94a17ddd0d","name":"Split Sensors","func":"return [\n  { payload: msg.payload.sensor_1 },\n  { payload: msg.payload.sensor_2 },\n  { payload: msg.payload.sensor_3 }\n];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":460,"wires":[["a6e16d27d4f36d4d"],["fc338bf40f9966b9"],["d8f8c961eb3b7ebc"]]},{"id":"a6e16d27d4f36d4d","type":"ui_gauge","z":"572b9e94a17ddd0d","name":"","group":"745990b60053ed7d","order":3,"width":7,"height":5,"gtype":"wave","title":"Water Tank Storage","label":"cm","format":"{{value}}","min":"1","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":420,"wires":[]},{"id":"fc338bf40f9966b9","type":"ui_gauge","z":"572b9e94a17ddd0d","name":"","group":"8264b3fde8d2dd8f","order":3,"width":7,"height":5,"gtype":"gage","title":"Feed Tank Storage","label":"cm","format":"{{value}}","min":"1","max":"20","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":480,"wires":[]},{"id":"d8f8c961eb3b7ebc","type":"ui_gauge","z":"572b9e94a17ddd0d","name":"","group":"92b760d670ff5f11","order":3,"width":7,"height":5,"gtype":"wave","title":"Water Filler","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":520,"wires":[]},{"id":"cb13c966bcbc2e87","type":"ui_button","z":"572b9e94a17ddd0d","name":"Pump ON","group":"92b760d670ff5f11","order":18,"width":3,"height":1,"passthru":false,"label":"Pump ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"ON","payloadType":"str","topic":"pump/control","topicType":"str","x":200,"y":640,"wires":[["9d3fedef8e47a7a2","dd2aedaf086aa86a"]]},{"id":"01731660d4f29331","type":"ui_button","z":"572b9e94a17ddd0d","name":"Pump OFF","group":"92b760d670ff5f11","order":20,"width":3,"height":1,"label":"Pump OFF","payload":"OFF","payloadType":"str","topic":"pump/control","x":200,"y":700,"wires":[["9d3fedef8e47a7a2","dd2aedaf086aa86a"]]},{"id":"9d3fedef8e47a7a2","type":"mqtt out","z":"572b9e94a17ddd0d","name":"","topic":"pump/control","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eadb1d429bc424e","x":630,"y":700,"wires":[]},{"id":"72325fe59dbc268a","type":"ui_text","z":"572b9e94a17ddd0d","group":"92b760d670ff5f11","order":15,"width":7,"height":1,"label":"Water Pump Switch","format":"{{msg.payload}}","x":350,"y":580,"wires":[]},{"id":"dd2aedaf086aa86a","type":"ui_text","z":"572b9e94a17ddd0d","group":"92b760d670ff5f11","order":23,"width":7,"height":1,"label":"Indicator","format":"{{msg.payload}}","x":480,"y":780,"wires":[]},{"id":"70ec13614fcc1664","type":"mqtt in","z":"572b9e94a17ddd0d","name":"","topic":"sensors/weight","qos":"2","datatype":"auto-detect","broker":"3eadb1d429bc424e","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":40,"wires":[["9fe56b5f7b607d9f"]]},{"id":"9fe56b5f7b607d9f","type":"ui_gauge","z":"572b9e94a17ddd0d","name":"","group":"078fde0a499aaf5c","order":3,"width":7,"height":5,"gtype":"gage","title":"Feed Bin","label":"kg","format":"{{value}}","min":0,"max":"1.000","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":660,"y":60,"wires":[]},{"id":"d150e20a53ecf0c1","type":"ui_button","z":"572b9e94a17ddd0d","name":"Move 0","group":"078fde0a499aaf5c","order":20,"width":3,"height":1,"label":"SERVO OFF","payload":"0","payloadType":"str","topic":"servo/control","x":630,"y":180,"wires":[["b8c0a0edb80f432f","833f739aa895baa1"]]},{"id":"281c3f022265e10f","type":"ui_button","z":"572b9e94a17ddd0d","name":"Move 180","group":"078fde0a499aaf5c","order":18,"width":3,"height":1,"passthru":false,"label":"SERVO ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"90","payloadType":"str","topic":"servo/control","topicType":"str","x":630,"y":240,"wires":[["b8c0a0edb80f432f","833f739aa895baa1"]]},{"id":"b8c0a0edb80f432f","type":"mqtt out","z":"572b9e94a17ddd0d","name":"","topic":"servo/control","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eadb1d429bc424e","x":880,"y":220,"wires":[]},{"id":"833f739aa895baa1","type":"ui_text","z":"572b9e94a17ddd0d","group":"078fde0a499aaf5c","order":23,"width":7,"height":1,"label":"Indicator","format":"{{msg.payload}}","x":870,"y":300,"wires":[]},{"id":"f94d30bebad0529b","type":"ui_text","z":"572b9e94a17ddd0d","group":"078fde0a499aaf5c","order":15,"width":7,"height":1,"label":"Servo Switch","format":"{{msg.payload}}","x":840,"y":160,"wires":[]},{"id":"8264b3fde8d2dd8f","type":"ui_group","name":"Feed Tank Storage","tab":"cb490e472482cd7f","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"745990b60053ed7d","type":"ui_group","name":"Water Tank Storage","tab":"cb490e472482cd7f","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"3eadb1d429bc424e","type":"mqtt-broker","name":"","broker":"mqtt.flespi.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"92b760d670ff5f11","type":"ui_group","name":"Water Filler","tab":"cb490e472482cd7f","order":4,"disp":true,"width":9,"collapse":false,"className":""},{"id":"078fde0a499aaf5c","type":"ui_group","name":"Feed Bin","tab":"cb490e472482cd7f","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"cb490e472482cd7f","type":"ui_tab","name":"IOT Enabled Semi-Smart Automated Chiken Feeder and Watering System Utilizing ESP32 Web-based Control and GMS Notifications","icon":"Dashboard","disabled":false,"hidden":false}]