flows.json
[{"id":"c4b60db0e04e0e8f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5622c79c84a909c0","type":"ui_text","z":"c4b60db0e04e0e8f","group":"8264b3fde8d2dd8f","order":20,"width":7,"height":1,"name":"","label":"Morning Schedule: 8:00 AM","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":120,"y":380,"wires":[]},{"id":"e33072e980f2d950","type":"ui_text","z":"c4b60db0e04e0e8f","group":"8264b3fde8d2dd8f","order":23,"width":7,"height":1,"name":"","label":"Morning Feeding Schedule","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":120,"y":340,"wires":[]},{"id":"261746a712659191","type":"ui_text","z":"c4b60db0e04e0e8f","group":"745990b60053ed7d","order":20,"width":7,"height":1,"name":"","label":"Afternoon Schedule: 3:00 PM","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":380,"y":380,"wires":[]},{"id":"0c9abfb34d20bfbb","type":"ui_text","z":"c4b60db0e04e0e8f","group":"745990b60053ed7d","order":23,"width":7,"height":1,"name":"","label":"Afternoon Feeding Schedule","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":380,"y":340,"wires":[]},{"id":"fb24f8cb0d5e2853","type":"mqtt in","z":"c4b60db0e04e0e8f","name":"","topic":"sensors/ultrasonic","qos":"0","datatype":"json","broker":"3eadb1d429bc424e","nl":false,"rap":false,"inputs":0,"x":210,"y":460,"wires":[["fc8423ce547127f2"]]},{"id":"fc8423ce547127f2","type":"function","z":"c4b60db0e04e0e8f","name":"Split Sensors","func":"return [\n  { payload: msg.payload.sensor_1 },\n  { payload: msg.payload.sensor_2 },\n  { payload: msg.payload.sensor_3 }\n];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":460,"wires":[["a6e16d27d4f36d4d"],["fc338bf40f9966b9"],["d8f8c961eb3b7ebc"]]},{"id":"a6e16d27d4f36d4d","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"745990b60053ed7d","order":3,"width":7,"height":7,"gtype":"wave","title":"Water Tank Storage","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":420,"wires":[]},{"id":"fc338bf40f9966b9","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"8264b3fde8d2dd8f","order":3,"width":7,"height":7,"gtype":"gage","title":"Feed Tank Storage","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":480,"wires":[]},{"id":"d8f8c961eb3b7ebc","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"92b760d670ff5f11","order":3,"width":7,"height":7,"gtype":"wave","title":"Water Filler","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":520,"wires":[]},{"id":"cb13c966bcbc2e87","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Pump ON","group":"92b760d670ff5f11","order":22,"width":3,"height":1,"passthru":false,"label":"Pump ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"ON","payloadType":"str","topic":"pump/control","topicType":"str","x":200,"y":640,"wires":[["9d3fedef8e47a7a2","dd2aedaf086aa86a"]]},{"id":"01731660d4f29331","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Pump OFF","group":"92b760d670ff5f11","order":24,"width":3,"height":1,"label":"Pump OFF","payload":"OFF","payloadType":"str","topic":"pump/control","x":200,"y":700,"wires":[["9d3fedef8e47a7a2","dd2aedaf086aa86a"]]},{"id":"9d3fedef8e47a7a2","type":"mqtt out","z":"c4b60db0e04e0e8f","name":"","topic":"pump/control","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eadb1d429bc424e","x":630,"y":700,"wires":[]},{"id":"72325fe59dbc268a","type":"ui_text","z":"c4b60db0e04e0e8f","group":"92b760d670ff5f11","order":19,"width":7,"height":1,"label":"Water Pump Switch","format":"{{msg.payload}}","x":350,"y":580,"wires":[]},{"id":"dd2aedaf086aa86a","type":"ui_text","z":"c4b60db0e04e0e8f","group":"92b760d670ff5f11","order":27,"width":7,"height":1,"label":"Indicator","format":"{{msg.payload}}","x":480,"y":780,"wires":[]},{"id":"70ec13614fcc1664","type":"mqtt in","z":"c4b60db0e04e0e8f","name":"","topic":"sensors/weight","qos":"2","datatype":"auto-detect","broker":"3eadb1d429bc424e","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":40,"wires":[["9fe56b5f7b607d9f"]]},{"id":"9fe56b5f7b607d9f","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"078fde0a499aaf5c","order":3,"width":7,"height":7,"gtype":"gage","title":"Feed Bin","label":"kg","format":"{{value}}","min":0,"max":"1.000","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":660,"y":60,"wires":[]},{"id":"d150e20a53ecf0c1","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Move 0","group":"078fde0a499aaf5c","order":24,"width":3,"height":1,"label":"SERVO OFF","payload":"0","payloadType":"str","topic":"servo/control","x":630,"y":180,"wires":[["b8c0a0edb80f432f","833f739aa895baa1"]]},{"id":"281c3f022265e10f","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Move 180","group":"078fde0a499aaf5c","order":22,"width":3,"height":1,"passthru":false,"label":"SERVO ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"90","payloadType":"str","topic":"servo/control","topicType":"str","x":630,"y":240,"wires":[["b8c0a0edb80f432f","833f739aa895baa1"]]},{"id":"b8c0a0edb80f432f","type":"mqtt out","z":"c4b60db0e04e0e8f","name":"","topic":"servo/control","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eadb1d429bc424e","x":880,"y":220,"wires":[]},{"id":"833f739aa895baa1","type":"ui_text","z":"c4b60db0e04e0e8f","group":"078fde0a499aaf5c","order":27,"width":7,"height":1,"label":"Indicator","format":"{{msg.payload}}","x":870,"y":300,"wires":[]},{"id":"f94d30bebad0529b","type":"ui_text","z":"c4b60db0e04e0e8f","group":"078fde0a499aaf5c","order":19,"width":7,"height":1,"label":"Servo Switch","format":"{{msg.payload}}","x":840,"y":160,"wires":[]},{"id":"ba12ad05f0bea776","type":"ui_template","z":"c4b60db0e04e0e8f","group":"0129133c0448b399","name":"ThingSpeak Button","order":1,"width":24,"height":21,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>ThingSpeak Charts</title>\n  <style>\n    html,\n    body {\n      height: 100%;\n      margin: 0;\n      padding: 0;\n      overflow: hidden;\n      font-family: Arial, sans-serif;\n      background: #f8f9fa;\n    }\n\n    h2,\n    h3 {\n      margin: 10px 0;\n    }\n\n    .charts-container {\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      gap: 40px;\n      padding: 20px;\n    }\n\n    .btn-container {\n      text-align: center;\n      margin: 20px 0;\n    }\n\n    .btn-link {\n      background-color: #28a745;\n      color: white;\n      border: none;\n      padding: 10px 20px;\n      font-size: 16px;\n      cursor: pointer;\n      border-radius: 5px;\n      text-decoration: none;\n    }\n\n    .btn-link:hover {\n      background-color: #218838;\n    }\n  </style>\n  <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n</head>\n\n<body>\n  <h2 style=\"text-align:center;\">Food&Water Dispensed Logger</h2>\n\n  <div class=\"btn-container\">\n    <a class=\"btn-link\" href=\"https://thingspeak.mathworks.com/channels/3012156\" target=\"_blank\">\n      Open Excel Chart\n    </a>\n  </div>\n\n  <div class=\"charts-container\">\n    <div>\n      <h3 style=\"text-align:center;\">Water Dispensed Amount (cm)</h3>\n      <canvas id=\"waterChart\" width=\"900\" height=\"400\"></canvas>\n    </div>\n    <div>\n      <h3 style=\"text-align:center;\">Food Dispensed Amount (g)</h3>\n      <canvas id=\"foodChart\" width=\"900\" height=\"400\"></canvas>\n    </div>\n  </div>\n\n  <script>\n    async function fetchThingSpeakData() {\n      const url = \"https://api.thingspeak.com/channels/3012156/feeds.json?api_key=0VDAPPHULHOO693A&results=20\";\n\n      try {\n        const response = await fetch(url);\n        const data = await response.json();\n\n        const labels = data.feeds.map(feed => new Date(feed.created_at).toLocaleTimeString());\n        const waterValues = data.feeds.map(feed => feed.field1);\n        const foodValues = data.feeds.map(feed => feed.field2);\n\n        return { labels, waterValues, foodValues };\n      } catch (err) {\n        console.error(\"HTTP Request Failed:\", err);\n        return { labels: [], waterValues: [], foodValues: [] };\n      }\n    }\n\n    async function renderCharts() {\n      const { labels, waterValues, foodValues } = await fetchThingSpeakData();\n\n      new Chart(document.getElementById(\"waterChart\").getContext(\"2d\"), {\n        type: \"line\",\n        data: {\n          labels: labels,\n          datasets: [{\n            label: \"Water Dispensed Amount (cm)\",\n            data: waterValues,\n            borderColor: \"#007BFF\",\n            backgroundColor: \"rgba(0,123,255,0.2)\",\n            fill: true,\n            tension: 0.3\n          }]\n        },\n        options: {\n          responsive: false,\n          maintainAspectRatio: false,\n          scales: {\n            x: { title: { display: true, text: \"Time\" } },\n            y: { title: { display: true, text: \"Value (cm)\" } }\n          }\n        }\n      });\n\n      new Chart(document.getElementById(\"foodChart\").getContext(\"2d\"), {\n        type: \"line\",\n        data: {\n          labels: labels,\n          datasets: [{\n            label: \"Food Dispensed Amount (g)\",\n            data: foodValues,\n            borderColor: \"#FF5733\",\n            backgroundColor: \"rgba(255,87,51,0.2)\",\n            fill: true,\n            tension: 0.3\n          }]\n        },\n        options: {\n          responsive: false,\n          maintainAspectRatio: false,\n          scales: {\n            x: { title: { display: true, text: \"Time\" } },\n            y: { title: { display: true, text: \"Value (g)\" } }\n          }\n        }\n      });\n    }\n\n    renderCharts();\n    setInterval(renderCharts, 30000);\n  </script>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":430,"y":960,"wires":[[]]},{"id":"0178fcfc844a3827","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":1,"width":9,"height":1},{"id":"d678e6f6bc574ab0","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":2,"width":1,"height":1},{"id":"8a1a85c1d25c4a35","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":4,"width":1,"height":1},{"id":"b2a1885178b62829","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":5,"width":1,"height":1},{"id":"4c9135a211b50c1e","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":6,"width":1,"height":1},{"id":"737dd04b33f3979d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":7,"width":1,"height":1},{"id":"50cb728dba613545","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":8,"width":1,"height":1},{"id":"37347c5fc00ac608","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":9,"width":1,"height":1},{"id":"8bf2da8436efe4cd","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":10,"width":1,"height":1},{"id":"d917c1abcea5de8a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":11,"width":1,"height":1},{"id":"4b00c3e2ddd96512","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":12,"width":1,"height":1},{"id":"4286e80a9bdd5b10","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":13,"width":1,"height":1},{"id":"ac20d1b8b8de4742","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":14,"width":1,"height":1},{"id":"8a91440bc6acc85d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":15,"width":1,"height":1},{"id":"a11a5742630b2b92","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":16,"width":1,"height":1},{"id":"4168ab54a240226f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":17,"width":9,"height":1},{"id":"5b56a7b7faa6167a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":18,"width":1,"height":1},{"id":"1c55d896073894d5","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":20,"width":1,"height":1},{"id":"b2dd520c2192dcc8","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":21,"width":1,"height":1},{"id":"ac505f3238ca3040","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":23,"width":1,"height":1},{"id":"3ef254924625508f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":25,"width":1,"height":1},{"id":"3c1fd53502353246","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":26,"width":1,"height":1},{"id":"0a4f69dfefd4daa9","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":28,"width":1,"height":1},{"id":"fd2503987ade3fb2","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":1,"width":9,"height":1},{"id":"ec58d49167960c80","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":2,"width":1,"height":1},{"id":"1d0fb906fe07b91f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":4,"width":1,"height":1},{"id":"388e130a1ae29694","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":5,"width":1,"height":1},{"id":"15844e2afc49b789","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":6,"width":1,"height":1},{"id":"e395735660557bb1","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":7,"width":1,"height":1},{"id":"acd8e52e98031e2e","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":8,"width":1,"height":1},{"id":"a552cf0907c2046d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":9,"width":1,"height":1},{"id":"bccbd288e1b0257a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":10,"width":1,"height":1},{"id":"cc22e088260f4deb","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":11,"width":1,"height":1},{"id":"4fd7afbab901a63c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":12,"width":1,"height":1},{"id":"5b331c5b56b0024f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":13,"width":1,"height":1},{"id":"bded70696b822688","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":14,"width":1,"height":1},{"id":"76c015a1ac890540","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":15,"width":1,"height":1},{"id":"7cbb4afec048d7b3","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":16,"width":1,"height":1},{"id":"103ace46f8c0eec2","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":17,"width":9,"height":1},{"id":"4d8743c86aba7377","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":18,"width":9,"height":1},{"id":"fc4bf6f16e688181","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":19,"width":1,"height":1},{"id":"ba610f4d79996558","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":21,"width":1,"height":1},{"id":"4f779d388e9855e8","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":22,"width":1,"height":1},{"id":"3a473857ab62b8f2","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":24,"width":1,"height":1},{"id":"650aa8dfa0d3b01b","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":1,"width":9,"height":1},{"id":"f68adc5c33c22f0f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":2,"width":1,"height":1},{"id":"897df4f82220fe4d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":4,"width":1,"height":1},{"id":"c55ab17289051377","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":5,"width":1,"height":1},{"id":"c4c2c095aad045a8","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":6,"width":1,"height":1},{"id":"24aa943b94643fb7","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":7,"width":1,"height":1},{"id":"f6958d89bd302aab","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":8,"width":1,"height":1},{"id":"4dcb5748c062fa04","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":9,"width":1,"height":1},{"id":"926713c83563324f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":10,"width":1,"height":1},{"id":"2c9c4bba131fc133","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":11,"width":1,"height":1},{"id":"233629bceb6aa1be","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":12,"width":1,"height":1},{"id":"84eec76122073a29","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":13,"width":1,"height":1},{"id":"2df8991c8f6a26e6","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":14,"width":1,"height":1},{"id":"451442d4cd187821","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":15,"width":1,"height":1},{"id":"d3065a1ec93ef58d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":16,"width":1,"height":1},{"id":"cb39be490837e811","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":17,"width":9,"height":1},{"id":"88537a94bab0f365","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":18,"width":9,"height":1},{"id":"1cc8d2bc12f80a0c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":19,"width":1,"height":1},{"id":"9c56ef2f58db09d9","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":21,"width":1,"height":1},{"id":"6a704f53f67a585d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":22,"width":1,"height":1},{"id":"6d2f70eb437a57cd","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":24,"width":1,"height":1},{"id":"a5bf3d519e4b178b","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":1,"width":9,"height":1},{"id":"b2b68bdd32225845","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":2,"width":1,"height":1},{"id":"cd77d9faf088f929","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":4,"width":1,"height":1},{"id":"6b431de6cef03f86","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":5,"width":1,"height":1},{"id":"3d641e4122c3717a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":6,"width":1,"height":1},{"id":"2a68d44d8cc36834","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":7,"width":1,"height":1},{"id":"48964d855f59617b","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":8,"width":1,"height":1},{"id":"2da12955d4169e4f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":9,"width":1,"height":1},{"id":"4dd135652c02730b","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":10,"width":1,"height":1},{"id":"2e3b54df12101f0d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":11,"width":1,"height":1},{"id":"6dcdfa5343d04545","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":12,"width":1,"height":1},{"id":"226e2a0d05bb6808","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":13,"width":1,"height":1},{"id":"2cbb8783b2912e92","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":14,"width":1,"height":1},{"id":"c869dedb1ccaaacc","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":15,"width":1,"height":1},{"id":"85cf49d5460e02f3","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":16,"width":1,"height":1},{"id":"0e1a37bec0c58592","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":17,"width":9,"height":1},{"id":"01e654bc4f6b7330","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":18,"width":1,"height":1},{"id":"ae8491cdad1a1efe","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":20,"width":1,"height":1},{"id":"d2775e36421a0a4e","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":21,"width":1,"height":1},{"id":"fa5f9cb63311f60c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":23,"width":1,"height":1},{"id":"300625dbd1998959","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":25,"width":1,"height":1},{"id":"3209f944c98e522d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":26,"width":1,"height":1},{"id":"2b26a2a2532d482b","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":28,"width":1,"height":1},{"id":"8264b3fde8d2dd8f","type":"ui_group","name":"Feed Tank Storage","tab":"cb490e472482cd7f","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"745990b60053ed7d","type":"ui_group","name":"Water Tank Storage","tab":"cb490e472482cd7f","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"3eadb1d429bc424e","type":"mqtt-broker","name":"","broker":"mqtt.flespi.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"73","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"92b760d670ff5f11","type":"ui_group","name":"Water Filler","tab":"cb490e472482cd7f","order":4,"disp":true,"width":9,"collapse":false,"className":""},{"id":"078fde0a499aaf5c","type":"ui_group","name":"Feed Bin","tab":"cb490e472482cd7f","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"0129133c0448b399","type":"ui_group","name":"Excel Chart","tab":"26d2b25dc90a57c0","order":2,"disp":true,"width":24,"collapse":false,"className":""},{"id":"cb490e472482cd7f","type":"ui_tab","name":"IOT Enabled Semi-Smart Automated Chiken Feeder and Watering System Utilizing ESP32 Web-based Control and GMS Notifications","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"26d2b25dc90a57c0","type":"ui_tab","name":"Food and Water Dispensed Logger Excel Chart","icon":"dashboard","order":1,"disabled":false,"hidden":false}]