flows.json
[{"id":"c4b60db0e04e0e8f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8264b3fde8d2dd8f","type":"ui_group","name":"Feed Tank Storage","tab":"cb490e472482cd7f","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"745990b60053ed7d","type":"ui_group","name":"Water Tank Storage","tab":"cb490e472482cd7f","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"3eadb1d429bc424e","type":"mqtt-broker","name":"","broker":"mqtt.flespi.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"92b760d670ff5f11","type":"ui_group","name":"Water Filler","tab":"cb490e472482cd7f","order":4,"disp":true,"width":9,"collapse":false,"className":""},{"id":"078fde0a499aaf5c","type":"ui_group","name":"Feed Bin","tab":"cb490e472482cd7f","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"cb490e472482cd7f","type":"ui_tab","name":"IOT Enabled Semi-Smart Automated Chiken Feeder and Watering System Utilizing ESP32 Web-based Control and GMS Notifications","icon":"Dashboard","disabled":false,"hidden":false},{"id":"be893afa2e414d6d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0129133c0448b399","type":"ui_group","name":"Excel Chart","tab":"26d2b25dc90a57c0","order":2,"disp":true,"width":24,"collapse":false,"className":""},{"id":"26d2b25dc90a57c0","type":"ui_tab","name":"Excel","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"75caccf76a2b6eb5","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":1,"width":1,"height":1},{"id":"a58e8aefe94a69d9","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":3,"width":1,"height":1},{"id":"59fc45894916f962","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":4,"width":1,"height":1},{"id":"54145e598e9c417a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":5,"width":1,"height":1},{"id":"37a1272519cb2711","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":6,"width":1,"height":1},{"id":"fe55a2585042c041","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":7,"width":1,"height":1},{"id":"b0f3eb31a2d9c624","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":8,"width":1,"height":1},{"id":"59206f28d0481c71","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":9,"width":1,"height":1},{"id":"595e9bf95730e7a4","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":10,"width":1,"height":1},{"id":"52e3ecbd3a0dae1a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":11,"width":1,"height":1},{"id":"343233ecedb0c5b4","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":12,"width":1,"height":1},{"id":"6fbc38d6d281bcfd","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":13,"width":1,"height":1},{"id":"9c470c50c883f17a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":14,"width":1,"height":1},{"id":"8417d55d3b4b199d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":15,"width":1,"height":1},{"id":"14548a6ef578b81c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":16,"width":9,"height":1},{"id":"7a17d1420f820acb","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":17,"width":1,"height":1},{"id":"ed5cdcefaf37621d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":19,"width":1,"height":1},{"id":"621aa00806e2183f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":20,"width":1,"height":1},{"id":"84ef32a2b07f2e5c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":22,"width":1,"height":1},{"id":"0f5f4a46c588ebb3","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":24,"width":1,"height":1},{"id":"fa6a8066dab3adee","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":25,"width":1,"height":1},{"id":"4c666dc093be9fea","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"078fde0a499aaf5c","order":27,"width":1,"height":1},{"id":"c85c2b5c9b78a485","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":1,"width":1,"height":1},{"id":"7947c75415e8514c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":3,"width":1,"height":1},{"id":"ec69c8679f217c64","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":4,"width":1,"height":1},{"id":"a45ff270930775d7","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":5,"width":1,"height":1},{"id":"e253efc7bca59847","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":6,"width":1,"height":1},{"id":"c8bac17469d5477d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":7,"width":1,"height":1},{"id":"f4c5eceaec2d63d7","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":8,"width":1,"height":1},{"id":"4e5cc5e0cd8eedf7","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":9,"width":1,"height":1},{"id":"fde6b2758bb49807","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":10,"width":1,"height":1},{"id":"19faa8b20df305ea","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":11,"width":1,"height":1},{"id":"b6cd598a29bdcb07","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":12,"width":1,"height":1},{"id":"486f5da70474d94e","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":13,"width":1,"height":1},{"id":"af2c547b0710bd46","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":14,"width":1,"height":1},{"id":"9e7f58a99cd8098f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":15,"width":1,"height":1},{"id":"603b363efb0c7f44","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":16,"width":9,"height":1},{"id":"788f7ce9c8de317e","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":17,"width":9,"height":1},{"id":"3defdadf779d73c3","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":18,"width":1,"height":1},{"id":"662dc9122e37a90c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":20,"width":1,"height":1},{"id":"c36ed5eaf788c299","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":21,"width":1,"height":1},{"id":"39eabb33731b5384","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"8264b3fde8d2dd8f","order":23,"width":1,"height":1},{"id":"a5283737f50fc544","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":1,"width":1,"height":1},{"id":"e12bceb2e3985d77","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":3,"width":1,"height":1},{"id":"4743ec970307f68d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":4,"width":1,"height":1},{"id":"65d8624c5d7ea3e2","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":5,"width":1,"height":1},{"id":"f903ab2b8c1e79dd","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":6,"width":1,"height":1},{"id":"062b3b9acc4b81bc","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":7,"width":1,"height":1},{"id":"1583ba233cf1d466","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":8,"width":1,"height":1},{"id":"e39c55c0eb36c882","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":9,"width":1,"height":1},{"id":"16c8cd6236fcac7f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":10,"width":1,"height":1},{"id":"81eff1c376ff4161","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":11,"width":1,"height":1},{"id":"db36467c1c0366c0","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":12,"width":1,"height":1},{"id":"7d97c18a51b9f3b4","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":13,"width":1,"height":1},{"id":"d42c622719d3d621","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":14,"width":1,"height":1},{"id":"158910a97e780eb0","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":15,"width":1,"height":1},{"id":"343577fe4cb4f387","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":16,"width":9,"height":1},{"id":"610d410940fac34c","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":17,"width":9,"height":1},{"id":"d41a393e14d3caba","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":18,"width":1,"height":1},{"id":"63d4a7a1fb5665af","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":20,"width":1,"height":1},{"id":"500c990284bb1476","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":21,"width":1,"height":1},{"id":"656e761f0bbc68a6","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"745990b60053ed7d","order":23,"width":1,"height":1},{"id":"f001331fd08f30cc","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":1,"width":1,"height":1},{"id":"c95e17c0cdc8399d","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":3,"width":1,"height":1},{"id":"1df02eb9325117e7","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":4,"width":1,"height":1},{"id":"4197b199e8d27fbb","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":5,"width":1,"height":1},{"id":"54544ed9b0ae15dd","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":6,"width":1,"height":1},{"id":"7d83944f5f5d7135","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":7,"width":1,"height":1},{"id":"12f34e08cfbb26bd","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":8,"width":1,"height":1},{"id":"3b0c2f39c8f3072f","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":9,"width":1,"height":1},{"id":"945f4e2f8107994a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":10,"width":1,"height":1},{"id":"fb9f963e6db064ca","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":11,"width":1,"height":1},{"id":"7ce370bffec8ae74","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":12,"width":1,"height":1},{"id":"52d874b16312247a","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":13,"width":1,"height":1},{"id":"5c885230bd26ea83","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":14,"width":1,"height":1},{"id":"92356b241647a532","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":15,"width":1,"height":1},{"id":"c05128de284e7487","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":16,"width":1,"height":1},{"id":"4d186a4812a54fbc","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":18,"width":1,"height":1},{"id":"ae6f066e0b5dca9e","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":19,"width":1,"height":1},{"id":"3b81b341f634ef26","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":21,"width":1,"height":1},{"id":"586412f818091494","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":23,"width":1,"height":1},{"id":"82099f36faf38eed","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":24,"width":9,"height":1},{"id":"26f86dea34e98974","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":25,"width":1,"height":1},{"id":"5c316c7ed4991808","type":"ui_spacer","z":"c4b60db0e04e0e8f","name":"spacer","group":"92b760d670ff5f11","order":27,"width":1,"height":1},{"id":"5622c79c84a909c0","type":"ui_text","z":"c4b60db0e04e0e8f","group":"8264b3fde8d2dd8f","order":19,"width":7,"height":1,"name":"","label":"Morning Schedule: 8:00 AM","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":120,"y":380,"wires":[]},{"id":"e33072e980f2d950","type":"ui_text","z":"c4b60db0e04e0e8f","group":"8264b3fde8d2dd8f","order":22,"width":7,"height":1,"name":"","label":"Morning Feeding Schedule","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":120,"y":340,"wires":[]},{"id":"261746a712659191","type":"ui_text","z":"c4b60db0e04e0e8f","group":"745990b60053ed7d","order":19,"width":7,"height":1,"name":"","label":"Afternoon Schedule: 3:00 PM","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":380,"y":380,"wires":[]},{"id":"0c9abfb34d20bfbb","type":"ui_text","z":"c4b60db0e04e0e8f","group":"745990b60053ed7d","order":22,"width":7,"height":1,"name":"","label":"Afternoon Feeding Schedule","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#000000","x":380,"y":340,"wires":[]},{"id":"fb24f8cb0d5e2853","type":"mqtt in","z":"c4b60db0e04e0e8f","name":"","topic":"sensors/ultrasonic","qos":"0","datatype":"json","broker":"3eadb1d429bc424e","nl":false,"rap":false,"inputs":0,"x":210,"y":460,"wires":[["fc8423ce547127f2"]]},{"id":"fc8423ce547127f2","type":"function","z":"c4b60db0e04e0e8f","name":"Split Sensors","func":"return [\n  { payload: msg.payload.sensor_1 },\n  { payload: msg.payload.sensor_2 },\n  { payload: msg.payload.sensor_3 }\n];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":460,"wires":[["a6e16d27d4f36d4d"],["fc338bf40f9966b9"],["d8f8c961eb3b7ebc"]]},{"id":"a6e16d27d4f36d4d","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"745990b60053ed7d","order":2,"width":7,"height":7,"gtype":"wave","title":"Water Tank Storage","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":420,"wires":[]},{"id":"fc338bf40f9966b9","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"8264b3fde8d2dd8f","order":2,"width":7,"height":7,"gtype":"gage","title":"Feed Tank Storage","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":480,"wires":[]},{"id":"d8f8c961eb3b7ebc","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"92b760d670ff5f11","order":2,"width":7,"height":7,"gtype":"wave","title":"Water Filler","label":"cm","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":520,"wires":[]},{"id":"cb13c966bcbc2e87","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Pump ON","group":"92b760d670ff5f11","order":20,"width":3,"height":1,"passthru":false,"label":"Pump ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"ON","payloadType":"str","topic":"pump/control","topicType":"str","x":200,"y":640,"wires":[["9d3fedef8e47a7a2","dd2aedaf086aa86a"]]},{"id":"01731660d4f29331","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Pump OFF","group":"92b760d670ff5f11","order":22,"width":3,"height":1,"label":"Pump OFF","payload":"OFF","payloadType":"str","topic":"pump/control","x":200,"y":700,"wires":[["9d3fedef8e47a7a2","dd2aedaf086aa86a"]]},{"id":"9d3fedef8e47a7a2","type":"mqtt out","z":"c4b60db0e04e0e8f","name":"","topic":"pump/control","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eadb1d429bc424e","x":630,"y":700,"wires":[]},{"id":"72325fe59dbc268a","type":"ui_text","z":"c4b60db0e04e0e8f","group":"92b760d670ff5f11","order":17,"width":7,"height":1,"label":"Water Pump Switch","format":"{{msg.payload}}","x":350,"y":580,"wires":[]},{"id":"dd2aedaf086aa86a","type":"ui_text","z":"c4b60db0e04e0e8f","group":"92b760d670ff5f11","order":26,"width":7,"height":1,"label":"Indicator","format":"{{msg.payload}}","x":480,"y":780,"wires":[]},{"id":"70ec13614fcc1664","type":"mqtt in","z":"c4b60db0e04e0e8f","name":"","topic":"sensors/weight","qos":"2","datatype":"auto-detect","broker":"3eadb1d429bc424e","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":40,"wires":[["9fe56b5f7b607d9f"]]},{"id":"9fe56b5f7b607d9f","type":"ui_gauge","z":"c4b60db0e04e0e8f","name":"","group":"078fde0a499aaf5c","order":2,"width":7,"height":7,"gtype":"gage","title":"Feed Bin","label":"kg","format":"{{value}}","min":0,"max":"1.000","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":660,"y":60,"wires":[]},{"id":"d150e20a53ecf0c1","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Move 0","group":"078fde0a499aaf5c","order":23,"width":3,"height":1,"label":"SERVO OFF","payload":"0","payloadType":"str","topic":"servo/control","x":630,"y":180,"wires":[["b8c0a0edb80f432f","833f739aa895baa1"]]},{"id":"281c3f022265e10f","type":"ui_button","z":"c4b60db0e04e0e8f","name":"Move 180","group":"078fde0a499aaf5c","order":21,"width":3,"height":1,"passthru":false,"label":"SERVO ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"90","payloadType":"str","topic":"servo/control","topicType":"str","x":630,"y":240,"wires":[["b8c0a0edb80f432f","833f739aa895baa1"]]},{"id":"b8c0a0edb80f432f","type":"mqtt out","z":"c4b60db0e04e0e8f","name":"","topic":"servo/control","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3eadb1d429bc424e","x":880,"y":220,"wires":[]},{"id":"833f739aa895baa1","type":"ui_text","z":"c4b60db0e04e0e8f","group":"078fde0a499aaf5c","order":26,"width":7,"height":1,"label":"Indicator","format":"{{msg.payload}}","x":870,"y":300,"wires":[]},{"id":"f94d30bebad0529b","type":"ui_text","z":"c4b60db0e04e0e8f","group":"078fde0a499aaf5c","order":18,"width":7,"height":1,"label":"Servo Switch","format":"{{msg.payload}}","x":840,"y":160,"wires":[]},{"id":"ba12ad05f0bea776","type":"ui_template","z":"c4b60db0e04e0e8f","group":"0129133c0448b399","name":"ThingSpeak Button","order":1,"width":24,"height":21,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>ThingSpeak Charts</title>\n  <style>\n    html,\n    body {\n      height: 100%;\n      margin: 0;\n      padding: 0;\n      overflow: hidden;\n      font-family: Arial, sans-serif;\n      background: #f8f9fa;\n    }\n\n    h2,\n    h3 {\n      margin: 10px 0;\n    }\n\n    .charts-container {\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      gap: 40px;\n      padding: 20px;\n    }\n\n    .btn-container {\n      text-align: center;\n      margin: 20px 0;\n    }\n\n    .btn-link {\n      background-color: #28a745;\n      color: white;\n      border: none;\n      padding: 10px 20px;\n      font-size: 16px;\n      cursor: pointer;\n      border-radius: 5px;\n      text-decoration: none;\n    }\n\n    .btn-link:hover {\n      background-color: #218838;\n    }\n  </style>\n  <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n</head>\n\n<body>\n  <h2 style=\"text-align:center;\">Food&Water Dispensed Logger</h2>\n\n  <div class=\"btn-container\">\n    <a class=\"btn-link\" href=\"https://thingspeak.mathworks.com/channels/3012156\" target=\"_blank\">\n      Open Excel Chart\n    </a>\n  </div>\n\n  <div class=\"charts-container\">\n    <div>\n      <h3 style=\"text-align:center;\">Water Dispensed Amount (cm)</h3>\n      <canvas id=\"waterChart\" width=\"900\" height=\"400\"></canvas>\n    </div>\n    <div>\n      <h3 style=\"text-align:center;\">Food Dispensed Amount (g)</h3>\n      <canvas id=\"foodChart\" width=\"900\" height=\"400\"></canvas>\n    </div>\n  </div>\n\n  <script>\n    async function fetchThingSpeakData() {\n      const url = \"https://api.thingspeak.com/channels/3012156/feeds.json?api_key=0VDAPPHULHOO693A&results=20\";\n\n      try {\n        const response = await fetch(url);\n        const data = await response.json();\n\n        const labels = data.feeds.map(feed => new Date(feed.created_at).toLocaleTimeString());\n        const waterValues = data.feeds.map(feed => feed.field1);\n        const foodValues = data.feeds.map(feed => feed.field2);\n\n        return { labels, waterValues, foodValues };\n      } catch (err) {\n        console.error(\"HTTP Request Failed:\", err);\n        return { labels: [], waterValues: [], foodValues: [] };\n      }\n    }\n\n    async function renderCharts() {\n      const { labels, waterValues, foodValues } = await fetchThingSpeakData();\n\n      new Chart(document.getElementById(\"waterChart\").getContext(\"2d\"), {\n        type: \"line\",\n        data: {\n          labels: labels,\n          datasets: [{\n            label: \"Water Dispensed Amount (cm)\",\n            data: waterValues,\n            borderColor: \"#007BFF\",\n            backgroundColor: \"rgba(0,123,255,0.2)\",\n            fill: true,\n            tension: 0.3\n          }]\n        },\n        options: {\n          responsive: false,\n          maintainAspectRatio: false,\n          scales: {\n            x: { title: { display: true, text: \"Time\" } },\n            y: { title: { display: true, text: \"Value (cm)\" } }\n          }\n        }\n      });\n\n      new Chart(document.getElementById(\"foodChart\").getContext(\"2d\"), {\n        type: \"line\",\n        data: {\n          labels: labels,\n          datasets: [{\n            label: \"Food Dispensed Amount (g)\",\n            data: foodValues,\n            borderColor: \"#FF5733\",\n            backgroundColor: \"rgba(255,87,51,0.2)\",\n            fill: true,\n            tension: 0.3\n          }]\n        },\n        options: {\n          responsive: false,\n          maintainAspectRatio: false,\n          scales: {\n            x: { title: { display: true, text: \"Time\" } },\n            y: { title: { display: true, text: \"Value (g)\" } }\n          }\n        }\n      });\n    }\n\n    renderCharts();\n    setInterval(renderCharts, 30000);\n  </script>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":430,"y":960,"wires":[[]]}]